.color {
  background-color: var(--color);
  min-height: 100vh;
  padding: 7em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color h1 {
  text-transform: uppercase;
}

.color h1 a {
  padding: .3em .7em;
  background-color: aliceblue;
  
}

.color-message {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.413);
}